/* res */
.res-content {
  display: flex;
  flex-direction: row;
}
.left-res-content {
  width: 60%;
  padding-left: 2%;
}

.top-title-block {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-top: 40px;
}

.top-icon {
  height: 20px;
  margin-right: 5px;
}

.top-text {
  height: 20px;
  text-align: center;
  font-weight: bold;
  /* border: 5px solid red; */
}

.top-res-block {
  margin-top: 10px;
  height: 150px;
  margin-left: 5%;
  margin-bottom: 15px;
  padding-top: 1px;
  padding-left: 1px;
  padding-bottom: 1px;
  border: 1px solid #e9ecef;
}

.top-res-photo {
  height: 150px;
  position: absolute;
  clip: rect(0px,100px,150px,0px);
}

.top-res-content {
  margin-left: 100px;
  padding-left: 5px;
  padding-top: 15px;
}

.top-resname-text {
  font-size: 15px;
  font-family: Microsoft JhengHei;
  font-weight: bold;
}

.top-res-star {
  height: 20px;
}

.top-res-addr-block {
  height: 30px;
  margin-left: -3px;
  margin-top: -5px;
  display: flex;
  flex-direction: row;
}

.top-res-addr {
  height: 25px;
}

.top-res-addr-text {
  font-size: 5px;
  font-family: Microsoft JhengHei;
  font-weight: bold;
  color: #5b9bee;
  padding-top: 5px;
}

.top-res-recommand-text {
  padding-left: 5px;
  margin-top: -5px;
  font-size: 5px;
  font-family: Microsoft JhengHei;
  font-weight: bold;
  color: red;
}

.top-res-comment-content {
  display: flex;
  flex-direction: row;
}

.top-res-comment-block {
  background-color: #2f6690;
  width: 25%;
  height: 25px;
  border-radius: 5px;
  margin-top: 15px;
}

.top-res-comment-num-text {
  color: white;
  font-family: Microsoft JhengHei;
  font-size: 18px;
  text-align: center;
  /* border: 5px solid red; */
}

.top-res-info {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 8px;
  text-align: left;
}

.top-res-comment-text {
  color:  #2f6690;
  font-family: Microsoft JhengHei;
  font-size: 5px;
  font-weight: bold;
}

.top-res-comment {
  font-family: Microsoft JhengHei;
  font-size: 14px;
  color:  #2f6690;
  font-weight: bold;
}

.top-item {
  text-align: center;
}

.right-res-content {
  width: 160%;
  padding-left: 2%;
}

.row{
  margin-left: 0px !important;
  flex-wrap: nowrap !important;
}

.sort-bar {
  display: inline;
  justify-content: row;
  width: 90%;
  margin-top: 20px;
  padding-left: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #dddfe2;
}

.sort-item-way-block {
  background-color: #f7f7f7;
  padding-left: 10px;
  padding-right: 25px;
  width: 11%;
  /* border: 5px solid red; */
}

.sort-block {
  display: flex;
  justify-content: space-around;
  width: 90%;
  height: 50px;
  padding-left: 1px;
  padding-right: 1px;
  /* border: 5px solid red; */
}

.sort-item-block {
  background-color: white;
  padding-top : 1%;
  padding-bottom : 1%;
  border-right: 1px solid #dddfe2;
}

.sort-item {
  color: #6c757d;
  font-weight: bold;
  font-size: 15px;
}

.command-block {
  /* margin-right: 90px; */
  margin-top: 30px;
  width: 90%;
}

.command-item {
  display: flex;
  justify-content: space-between;
  height: 250px;
  margin-top: 20px;
  padding: 1px 1px 1px 1px;
  background-color: #dddfe2;
}

.left-comment-item-content {
  display: flex;
  width: 70%;
  background-color: white;
}

.right-comment-item-content {
  width: 30%;
  margin-left: 1px;
  background-color: white;
  position: relative;
}

.photo-block {
  width: 40%;
  padding-left: 2px;
}

.main-photo {
  width:100%;
  height: 80%;
  object-fit: cover;
  padding-top: 1px;
}

.other-photo-block {
  height: 20%;
  display: flex;
}

.other-photo {
  width: 25%;
  object-fit: cover;
  padding-top: 2px;
  padding-right: 2px;
}

.res-info {
  position: relative;
  width: 70%;
  padding-top: 30px;
}

.res-info-text {
  padding-left: 15px;
  font-size: 20px;
  font-family: Microsoft JhengHei;
  font-weight: bold;
}

.res-info-star {
  padding-left: 10px;
  height: 25px;
}

.res-info-addr-block {
  display: flex;
  justify-content: row;
}

.res-info-addr {
  padding-left: 7px;
  height: 25px;
}

.res-info-addr-text {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #5b9bee;
  font-size: 14px;
  font-family: Microsoft JhengHei;
  font-weight: bold;
}

.res-info-tag {
  font-size: 14px;
  font-family: Microsoft JhengHei;
  font-weight: bold;
  padding-left: 15px;
  color: #adb5bd;
}

.stay-time-block {
  display: flex;
  margin-left: 8px;
  padding-left: 3px;
  border-radius: 2px;
}

.res-info-time {
  height: 20px;
}

.stay-time-text {
  font-size: 14px;
  color: #7b2cbf;
  background-color: #ecbcfd70;
  font-family: Microsoft JhengHei;
  font-weight: bold;
  padding-left: 5px;
}

.history-text-block {
  font-size: 12px;
  color: red;
  font-family: Microsoft JhengHei;
  font-weight: bold;
  position:absolute; 
  bottom : 5px;
  left: 15px;
}

.comment-block {
  position:absolute; 
  right: 37%;
  top: 10%;
  padding-right: 2px;
  font-family: Microsoft JhengHei;
  font-weight: bold;
  font-size: 14px;
  text-align:right;
  color: #3a7ca5;
}

.num-tag-block {
  position:absolute; 
  right: 12%;
  top: 5%;
}

.num-tag {
  position:absolute; 
  height: 70px;
}

.num-text {
  position: relative;
  font-size: 22px;
  font-family: Microsoft JhengHei;
  color: white;
  font-weight: bolder;
  margin-top: 25px;
  margin-left: 28px;
}

.time-tag {
  position: absolute;
  bottom:35%; 
  right:1%;
  margin-right: 10px;
  width: 30%;
}

.discount-block {
  background: #f7cad0;
  border-radius: 3px;
  margin-bottom: 5px;
}

.discount-block-text {
  font-family: Microsoft JhengHei;
  font-size: 14px;
  font-weight: bolder;
  text-align: center;
  color: red;
}

.bustime-block {
  background: #caecb5;
  border-radius: 3px;
}

.bustime-block-text {
  font-family: Microsoft JhengHei;
  font-size: 14px;
  font-weight: bolder;
  text-align: center;
  color: green;
}

.cost-block {
  position: absolute;
  bottom:1%; 
  right:5%;
  color: #adb5bd;
  font-weight: bolder;
}

.cost-text {
  font-family: Microsoft JhengHei;
  font-size: 14px;
}

.cost-text-num {
  font-family: Comic Sans MS;
  font-size: 28px;
}

a.re:visited {
  color: #f4a261;
}
a.re {
  text-decoration: none;
}

a.re2:visited {
  color: #a2d2ff;
}

a.re2 {
  text-decoration: none;
}

.undone{
  margin-left: 300px;
  margin-right: 450px;
  margin-top: 100px;
}

.undone-text{
  font-size: 50px;
  font-family: Comic Sans MS;
  text-decoration: none;
  float: right;
  margin-right: 140px;
  margin-top: 80px;
}

.circle{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width:80px;
  height: 80px;
  border-radius: 999em;
  background-color: #e9ecef;
  opacity: 0.8;
  border-style: none;
}

.gmap-icon{
  float: right;
  margin-right: 15px;
  margin-top: 12px;
}

#pageNum{
  width:90%;
}