<div class="d-flex">
  <!-- 左邊推薦 -->
  <div class="left-res-content pl-3">
    <div class="d-flex pl-3 pt-3">
      <img src="/images/top.png" class="top-icon mr-1">
      <div class="top-text">中部人氣餐廳 TOP3</div>
    </div>
    <div class="ml-3 mb-2 mt-3 p-1 border">
      <img src="/images/exRes2/exRes.jpg" class="top-res-photo">
      <div class="top-res-content pt-3 pl-1">
        <div class="top-resname-text">二月咖啡February coffee</div>
        <img src="/images/exRes/star.png" class="top-res-star">
        <div class="top-res-addr-block">
          <img src="/images/addr2.png" class="top-res-addr">
          <div class="top-res-addr-text">545南投縣埔里鎮中正路553號</div>
        </div>
        <div class="top-res-recommand-text">50個人推薦❤</div>
        <div class="top-res-comment-content">
          <div class="top-res-comment-block">
            <div class="top-res-comment-num-text">4.4</div>
          </div>
          <div class="top-res-info">
            <div class="top-res-comment-text">很讚</div>
            <div class="top-res-comment-text">153則評論</div>
          </div>
        </div>
      </div>
    </div>
    <div class="ml-3 mb-2 mt-3 p-1 border">
      <img src="/images/exRes2/exRes.jpg" class="top-res-photo">
      <div class="top-res-content pt-3 pl-1">
        <div class="top-resname-text">二月咖啡February coffee</div>
        <img src="/images/exRes/star.png" class="top-res-star">
        <div class="top-res-addr-block">
          <img src="/images/addr2.png" class="top-res-addr">
          <div class="top-res-addr-text">545南投縣埔里鎮中正路553號</div>
        </div>
        <div class="top-res-recommand-text">50個人推薦❤</div>
        <div class="top-res-comment-content">
          <div class="top-res-comment-block">
            <div class="top-res-comment-num-text">4.4</div>
          </div>
          <div class="top-res-info">
            <div class="top-res-comment-text">很讚</div>
            <div class="top-res-comment-text">153則評論</div>
          </div>
        </div>
      </div>
    </div>
    <div class="ml-3 mb-2 mt-3 p-1 border">
      <img src="/images/exRes2/exRes.jpg" class="top-res-photo">
      <div class="top-res-content pt-3 pl-1">
        <div class="top-resname-text">二月咖啡February coffee</div>
        <img src="/images/exRes/star.png" class="top-res-star">
        <div class="top-res-addr-block">
          <img src="/images/addr2.png" class="top-res-addr">
          <div class="top-res-addr-text">545南投縣埔里鎮中正路553號</div>
        </div>
        <div class="top-res-recommand-text">50個人推薦❤</div>
        <div class="top-res-comment-content">
          <div class="top-res-comment-block">
            <div class="top-res-comment-num-text">4.4</div>
          </div>
          <div class="top-res-info">
            <div class="top-res-comment-text">很讚</div>
            <div class="top-res-comment-text">153則評論</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 右邊 -->
  <div class="right-res-content pl-3 mr-5">
    <!-- 最上面的bar -->
    <div class="row mt-3 mb-3" id = "namePath"></div>
    <div class="row border ml+1 mr-1">
      <div class="col-2 sort-item-block">
        <span class="sort-item">排序方式</span>
      </div>
      <div class = "col-2 sort-item-block">
        <span class="sort-item">契合度高至低</span>
      </div>
      <div class = "col-2 sort-item-block">
        <span class="sort-item">最低價優先</span>
      </div>
      <div class = "col-2 sort-item-block">
        <span class="sort-item">訪客評分優等</span>
      </div>
      <div class = "col-2 sort-item-block">
        <span class="sort-item">鄰近現在位置</span>
      </div>
      <div class = "col-2 sort-item-block">
        <span class="sort-item">最佳優惠</span>
      </div>
    </div>
    <div class="mt-3" id="res"></div>
    <div class = "row mt-3 mb-5" id = "pageNum"></div>