<div class="bar">
  <a href="/">
    <img src="/images/logo.png" width="110" height="40"> 
  </a>
  <div class="item-container">   
    <div class="item">
      <a class="re2" href="/working">我是新朋友</a>
    </div>
    <div class="item">
      <a class="re2" href="/working">A咖登入</a>
    </div>
    <div class="item2">
      <a class="re" href="/working">我要推薦</a>
    </div>
  </div>
</div>